body {
    background-color: #222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: ghostwhite;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

.main-color {
    background-color: #444;
    color: #aaa;
    border: 1px solid #888;
    padding: 5px;
}

.nested-color {
    background-color: #555;
    color: #aaa;
    border: 1px solid #888;
    padding: 5px;
}

#layout {
    width: 800px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

#layout,
#layout1,
#layout2 {
    margin: auto; /* You will have to do your margins manually */
}

.panel {
    background-color: #444;
    height: 250px;
    padding: 10px;
    grid-gap: 15px;
    box-sizing: border-box;
}

.panel.nest1,
.panel.nest2,
.panel.nest3 {
    background: none;
    padding: 0px;
    display: grid;
}

.panel.nest1 {
    grid-template-columns: repeat(3, 1fr);
}

.panel.nest2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.panel.nest3 {
    grid-template-columns: repeat(4, 1fr);
}

.panel.one {
    grid-column: span 4;
}

.panel.two,
.panel.three,
.panel.six,
.panel.seven {
    grid-column: span 2;
}

.panel.four {
    grid-column: span 1;
}

.panel.five {
    grid-column: span 3;
}

.nested.panel {
    background-color: #555;
    height: 100%;
}

.nested.panel.one,
.nested.panel.two,
.nested.panel.three {
    grid-column: span 1;
}

.nested.panel.four {
    grid-column: span 3;
}

.nested.panel.five,
.nested.panel.six {
    grid-column: span 1;
    grid-row: span 1;
}

.nested.panel.seven,
.nested.panel.eight,
.nested.panel.nine,
.nested.panel.ten {
    /* height: 100%; */
    grid-column: span 1;
}