body {
    background-color: #222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: ghostwhite;
    text-align: center;
}

.main-color {
    background-color: #444;
    color: #aaa;
    border: 1px solid #888;
    padding: 5px;
}

.nested-color {
    background-color: #555;
    color: #aaa;
    border: 1px solid #888;
    padding: 5px;
}

#layout {
    /* background-color: #333; */
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 15px;
}

.panel {
    background-color: #444;
    height: 250px;
    padding: 10px;
    display: grid;
    grid-gap: 15px;
    box-sizing: border-box;
}

.panel.nest {
    background: none;
    padding:0px;
}

.panel.one {
    grid-column: span 4;
}

.panel.two {
    grid-column: span 2;
} 

.panel.three {
    grid-column: span 2;
}

.panel.four {
    grid-column: span 1;
}

.panel.five {
    grid-column: span 3;
}

.nested.panel {
    background-color: #555;
    height: 97px;
    box-sizing: content-box;
}

.nested.panel.one {
    grid-column: span 1;
}

.nested.panel.two {
    grid-column: span 1;
}

.nested.panel.three {
    grid-column: span 1;
}

.nested.panel.four {
    grid-column: span 3;
}